<body class="d-flex flex-column">
    <main class="flex-shrink-0">
        <!-- Header-->
        <div class="parallax">
            <header class="header">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xxl-6">
                            <div class="text-center my-5">
                                <h1 class="fw-bolder mb-3">Cihuatl Michin</h1>
                                <p class="lead text-white">
                                    Somos el primer grupo en Aguascalientes que a través de la investigación y la
                                    educación, busca proteger y conservar los cuerpos de agua que existen en el estado.
                                </p>
                                <p class="lead text-white">
                                    Conéctate, aprende y participa en la conservación de especies nativas y el cuidado
                                    de nuestros recursos naturales.
                                    ¡Juntos podemos marcar la diferencia!
                                </p>
                                <button class="btn btn-primary btn-lg"
                                    (click)="scrollTo('scroll-target-QS')">Quiénes somos</button>
                                <button class="btn btn-primary btn-lg"
                                    (click)="scrollTo('scroll-target-QH')">Qué hacemos</button>
                                <button class="btn btn-primary btn-lg"
                                    (click)="scrollTo('scroll-target-MV')">Misión y visión</button>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>

        <!-- About section one-->
        <div class="parallax">
            <section class="one" id="scroll-target-QS">
                <div class="container px-5 my-5 one">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="assets/foto2.jpg"
                                alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder text-white">¿Quiénes Somos?</h2>
                            <p class="text-white">
                                Somos el colectivo Cihuatl Michin, un proyecto dedicado a la investigación, conservación
                                y difusión de los
                                ecosistemas dulceacuícolas en el estado de Aguascalientes. Nuestro nombre refleja
                                nuestra conexión con el entorno
                                natural y nuestra misión de preservar los recursos acuáticos, fundamentales para el
                                equilibrio ambiental y la
                                biodiversidad de la región. Somos un equipo de mujeres comprometidas con la conservación
                                de los últimos peces
                                nativos del estado de Aguascalientes. Nuestro objetivo es dar a conocer estas especies a
                                través de la educación
                                ambiental y llegar a más personas por medio del arte.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- About section two-->
        <div class="parallax">
            <section class="two" id="scroll-target-QH">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5"
                                src="assets/info/ecosistema1.jpg" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder text-white">¿Qué hacemos?</h2>
                            <p class="lead fw-normal mb-0">
                                Nos dedicamos a investigar y proteger la fauna acuática nativa de la región. También, a
                                través de este proyecto, buscamos inspirar a la comunidad de Aguascalientes a cuidar y
                                valorar nuestros recursos naturales. Queremos crear conciencia sobre la importancia de
                                nuestros ecosistemas y motivar acciones de conservación. 
                                <br><br>
                                Este proyecto nació como una
                                iniciativa académica interdisciplinaria, donde se combinan los conocimientos de biología,
                                ecología y ciencias ambientales, con un enfoque especial en la conservación de las especies
                                nativas y los cuerpos de agua locales. A través de un riguroso trabajo de campo y
                                laboratorio, hemos recopilado datos sobre la biodiversidad, salud ecológica y los cambios
                                ambientales que afectan estos ecosistemas.
                                <br> <br>
                                Nuestra labor no se limita a la investigación científica; también buscamos generar un
                                impacto positivo en la comunidad mediante la concienciación y la educación ambiental. Para
                                ello, utilizamos herramientas digitales, actividades educativas y materiales multimedia que
                                inspiran a personas de todas las edades a comprometerse con la protección del agua y su
                                biodiversidad.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- Team members section-->
        <section class="py-5 bg-light">
            <div class="container px-5 my-5">
                <div class="text-center">
                    <h2 class="fw-bolder">Nuestro Equipo</h2>
                    <p class="lead fw-normal text-muted mb-5">Conoce a las mujeres detrás de Cihuatl Michin</p>
                </div>
                <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5 mb-5 mb-xl-0">
                        <div class="text-center">
                            <img class="img-fluid rounded-circle mb-4 px-4"
                                src="https://dummyimage.com/150x150/ced4da/6c757d" alt="..." />
                            <h5 class="fw-bolder">Aidé Gaytán</h5>
                            <div class="fst-italic text-muted">Licenciatura en Biología</div>
                        </div>
                    </div>
                    <div class="col mb-5 mb-5 mb-xl-0">
                        <div class="text-center">
                            <img class="img-fluid rounded-circle mb-4 px-4"
                                src="https://dummyimage.com/150x150/ced4da/6c757d" alt="..." />
                            <h5 class="fw-bolder">Estefany Tavarez</h5>
                            <div class="fst-italic text-muted">Licenciatura en Arte y Gestión Cultural</div>
                        </div>
                    </div>
                    <div class="col mb-5 mb-5 mb-sm-0">
                        <div class="text-center">
                            <img class="img-fluid rounded-circle mb-4 px-4"
                                src="https://dummyimage.com/150x150/ced4da/6c757d" alt="..." />
                            <h5 class="fw-bolder">Amellali Mondragón</h5>
                            <div class="fst-italic text-muted">OM</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Us section-->
        <section class="py-5" id="about-us" id="scroll-target-MV">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="styled-section">
                            <h3 class="fw-bolder text-accent">Misión</h3>
                            <p class="lead text-muted vision-text">
                                Promover la conservación de los ecosistemas acuáticos de Aguascalientes a través de la investigación, la educación y la acción comunitaria.
                            </p>
                            <div class="divider"></div>
                            <h3 class="fw-bolder text-accent">Visión</h3>
                            <p class="lead text-muted vision-text">
                                Un estado en el que la biodiversidad acuática sea valorada, protegida y restaurada por sus habitantes, asegurando un equilibrio sostenible para futuras generaciones.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <img src="assets/info/SierraFria-Fani_Amellali.jpeg" alt="">
                    </div>
                </div>
            </div>
            
        </section>

    </main>

</body>