<body>
    <!-- Header -->
    <header class="">
      <div class="arriba container">
        <div class="row gx-5 align-items-center justify-content-center">
          <div class="col-lg-8 col-xl-7 col-xxl-6 hidden">
            <div class="my-5 text-center text-xl-start">
              <h1 class="display-5 mb-2">Cihuatl</h1>
              <h1 class="display-5 mb-2">Michin</h1>
              <p class="lead text-white">
                ¡Hola!, somos el primer equipo de mujeres en Aguascalientes en pro de la conservación de los cuerpos de agua de nuestro estado. 
                Nos apasiona proteger el medio ambiente y queremos educar a la comunidad sobre la importancia de los ecosistemas marinos y sus especies nativas. 
                Trabajamos para crear un impacto positivo a través de la investigación y la educación ambiental.
              </p>
            </div>
          </div>
          <div class="col-xl-5 text-center hidden bg-pan-br image-container"></div>

        </div>
      </div>
      <svg class="wave-bottom hidden" width="100" viewBox="0 0 1200 250">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 108.306L50 114.323C100 120.34 200 132.374 300 168.476C400 204.578 500 264.749 600 246.698C700 228.647 800 132.374 900 108.306C1000 84.2382 1100 132.374 1150 156.442L1200 180.51V-8.5451e-06H1150C1100 -8.5451e-06 1000 -8.5451e-06 900 -8.5451e-06C800 -8.5451e-06 700 -8.5451e-06 600 -8.5451e-06C500 -8.5451e-06 400 -8.5451e-06 300 -8.5451e-06C200 -8.5451e-06 100 -8.5451e-06 50 -8.5451e-06H0V108.306Z" fill="#0878c3"/>
      </svg>
    </header>
  
    <!-- Video Section -->
    <section class="py-5 bg-light video-section hidden one">
      <div class="container px-5">
        <h2 class="fw-bolder text-center mb-4">Nuestro Trabajo</h2>
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="ratio ratio-16x9">
              <video controls>
                <source src="./../../assets/cihuatl.mp4" type="video/mp4" />
                Tu navegador no soporta el video.
              </video>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- About Section -->
    <section class="about-section hidden">
        <div class="about-container">
            <h2 class="section-title">Más sobre nuestra misión</h2>
            <div class="about-content">
                <div class="about-item">
                    <h3 class="subtitle">Conservación de los cuerpos de agua</h3>
                    <p class="lead fw-normal text-blue mb-4">
                        Históricamente, Aguascalientes contaba con 3 especies nativas de peces, pero hoy solo quedan 6 debido a la modificación de los cuerpos de agua, 
                        la introducción de especies exóticas como la tilapia y la contaminación.
                    </p>
                </div>
                <div class="about-item">
                    <h3 class="subtitle">Educación ambiental a través del arte</h3>
                    <p class="lead fw-normal text-blue mb-4">
                        Nuestro objetivo es sensibilizar a la comunidad mediante actividades creativas y artísticas que transmitan la importancia de los ecosistemas 
                        saludables y fomenten la conservación del medio ambiente.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Impact Section -->
    <section class="impact-section hidden">
        <div class="impact-container">
            <h2 class="section-title">Nuestro impacto</h2>
            <p class="impact-quote lead">
                "Desde hace 2 años, realizamos monitoreos de las últimas poblaciones de peces nativos en Aguascalientes para entender su situación y educar a la comunidad 
                sobre su importancia como parte de nuestro patrimonio cultural y ambiental."
            </p>
            <div class="impact-stats">
                <div class="stat">
                    <h4 class="stat-title">+2 Años</h4>
                    <p>De monitoreo de especies nativas.</p>
                </div>
                <div class="stat">
                    <h4 class="stat-title">6 Especies</h4>
                    <p>Aún presentes en cuerpos de agua locales.</p>
                </div>
                <div class="stat">
                    <h4 class="stat-title">+10 Actividades</h4>
                    <p>De educación ambiental realizadas.</p>
                </div>
            </div>
        </div>
    </section>
    
</body>
